

body{
    background-color: cadetblue;
}

.paragrafo{
    background-color: black;
    color: aqua;
    padding: 5px;
}

#titulo{
    font-size: 50px;
    color: purple;
}

/* Ordem das regras */

#algum-titulo{
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

h2{
    border: 2px solid red;
}

/* NOMES DAS CORES */

.color-name{
    color:violet;
}

/* HEX */

.hex{
    color: #777;
}

/* RGB */

.rgb{
    color: rgb(255,0,0);
}

.mixed-rgb{
    color: rgb(199,48 ,77 );
}

/* RGB-A */

.rgba{
    color: rgba(100,199, 45,1);
}

/* HSL */

.hsl{
    color: hsl(201,70%, 32%);
}

/* Background */

.back{
    background-color: #520202;
}

/* Background opacity */

.opacidade{
    background-color: blueviolet;
    opacity:0.2 ;
}

.opacidade2{
    background-color: rgb(3, 3, 3);
    opacity:3 ;
    color: blue;
}

.bg-image{
    background-image: url(../img/banner-sobre.png);
    padding: 10px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

/* BOX MODEL */

.height-widith{
    height: 200px;
    width: 100px;
    background-color: #520202;
}

.height-widith2{
    height: 300px;
    background-color: #777;
}

/* PADDING e lados individuais*/

.sem-padding,
.padding{
    background-color: blue;
    color: #fff;
}

.padding{
    background-color: rgb(5, 5, 5);
    padding-top: 20px;
}

/* Shorthand Padding */

.class{
    background-color: whitesmoke;
    padding: 10px 15px 20px 30px;
}

/* Border Box */

.sem-border-box{
    background-color: #444;
    color: wheat;
    width: 400px;
    padding: 50px;
}

.border-box{
   background-color: #666;
   color: wheat;
   width: 400px;
   padding: 50px;
   box-sizing: border-box;


}

/* Border */

.sem-border{
    border: 5px solid blue;
    padding: 10px;
}

.border{
    border: 2px dotted deeppink;
    padding: 20px;
}

.teste{
    border-left: 4px solid orangered;
    background-color: #222222;
    color: orangered;
    border-radius: 3px;
    padding: 20px;
    margin: 20px;
}

.box-model{
    margin: 20px;
    padding: 15px 25px;
    border: 3px solid #845;
    border-radius: 7px;
    width: 200px;
    height: 300px;
    font-size: 50px;

}

.container{
    text-align: center;
    width: 300px;
    border: 1px solid black;
    

}

/* Text Transform */

#transforma1{
    text-transform: uppercase;
    letter-spacing: 50px;
}
#transforma2{
text-transform: lowercase;
}
#transforma3{

}




